@page "/GetMessage" 
@using Entities.Models
@using Contracts
@inject IMessageService _messageService;

<div class="card">
    <h3>Get Message</h3>
    <div class="field">
        <label> Id :</label>
        <EditForm Model="id">
            <InputNumber @bind-Value="id"/>
        </EditForm>

    </div>
    @if (!string.IsNullOrEmpty(errorlabel)) {
        <div class="field">
            <label> @errorlabel</label>
        </div>
    }
    <div class="field">
        <button class="loginbtn" @onclick="GetByIdAsync"> Get message</button>
    </div>
</div>

@code {
    private int id;
    private string errorlabel = string.Empty;

    private async Task GetByIdAsync() {
        try {
            Message messageFromServer = await _messageService.GetMessageByIdAsync(id);
            errorlabel = $"Server returned : {messageFromServer.Body}";
        }
        catch (Exception e) {
            errorlabel = $"Error : {e.Message}";
        }
    }

}