@inherits LayoutComponentBase

<PageTitle>BlazorAppTier1</PageTitle>

<div class="page background">
    <NavMenu/>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>