@using Contracts
@inject IAuthService authManager
@inject NavigationManager navMgr

<div id="body" class="dark">  
	<div class="hero-anime">
	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="https://front.codes/" target="_blank">
							<img src="images/logo.png" alt="">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="Login" role="button">Login</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link" href="PostCreation" role="button">Add </a>
								</li>
								<AuthorizeView>
									<Authorized>
										<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
											<a class="nav-link" href="PostBookmark" role="button">Bookmark list</a>
										</li>
										<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
											<a class="nav-link" @onclick="@(()=>Logout())" role="button">Logout</a>
										</li>
									</Authorized>
									<NotAuthorized>
									</NotAuthorized>
								</AuthorizeView>
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

@code {
	private async Task Logout()
	{
		await authManager.LogoutAsync();
		navMgr.NavigateTo("/");
	}
}