@namespace BlazorAppTier1.Pages.UIElements

<div class="modal-background" style="display:block; height: 100%">
    <div class="modal-box text-center">
    
        @ChildContent
    
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}